[Unit]
Description=SeaBee Service
RequiresMountsFor=/sys/fs/bpf
After=sysinit.target

[Service]
Type=exec
ExecStart=/usr/sbin/seabee

[Install]
WantedBy=basic.target
