site_name: SeaBee - Security Enhanced Architecture for eBPF
site_url: !ENV [SITE_URL]
repo_name: !ENV [REPO_NAME]
repo_url: !ENV [REPO_URL]
edit_uri: !ENV [EDIT_URI, "-/edit/main/docs/"]
theme:
  name: material
  icon:
    repo: !ENV [REPO_ICON, "fontawesome/brands/gitlab"]
  features:
    - !ENV [VIEW_BTN, "content.action.edit"]
    - content.code.copy
    - content.tooltips
    - navigation.indexes
    - navigation.instant
    - navigation.instant.progress
    - navigation.prune
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
markdown_extensions:
  - abbr
  - attr_list
  - def_list
  - footnotes
  - mdx_truly_sane_lists
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - toc:
      permalink: true
      permalink_title: Anchor link to this section for reference
      toc_depth: 3
plugins:
  - group:
      enabled: !ENV [CI, false]
      plugins:
        - git-authors
        - git-revision-date-localized:
            type: timeago
        - minify:
            htmlmin_opts:
              remove_comments: true
            cache_safe: true
  - asciinema-player
  - search
